@using Eventos.IO.Application.ViewModels
@model EventoViewModel

@{
    ViewData["Title"] = @Model.Nome;
}
<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <h4>@Model.DescricaoCurta</h4>
</div>

<div class="container">
    <div>
        <div class="row">
            @Html.DisplayFor(modelItem => Model.DescricaoLonga)
        </div>
        <hr />
        <br />
        <div class="row">
            <b>Quando:</b><br />
            @Model.DataInicio.ToString("d") até @Model.DataFim.ToString("d")
        </div>
        <br />
        <div class="row">
            <b>Valor:</b><br />
            @{
                if (Model.Gratuito)
                {
                    @Html.DisplayName("Gratuito")
                }
                else
                {
                    @Html.DisplayFor(modelItem => Model.Valor)
                }
            }
        </div>
        <br />
        <div class="row">
            <b>Tipo de Evento:</b><br />
            @{
                var categoria = new CategoriaViewModel().ListarCategorias().FirstOrDefault(c => c.Id == Model.CategoriaId);
                @Html.Raw(categoria.Nome)
            }
        </div>
        <br />
        <div class="row">
            <b>Organizado por:</b><br />
            @Html.DisplayFor(modelItem => Model.NomeEmpresa)
        </div>
        <br />
        <div class="row">
            <b>Onde?</b><br />
            @{
                if (Model.Online)
                {
                    @Html.DisplayName("Evento Online")
                }
                else
                {
                    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=@Model.Endereco.ToString()&key=AIzaSyAP0WKpL7uTRHGKWyakgQXbW6FUhrrA5pE" allowfullscreen></iframe>
                }
            }
        </div>
    </div>

    <div>
        <a href="javascript:history.go(-1)" class="btn btn-info">Voltar</a>
    </div>
</div>