@model Eventos.IO.Application.ViewModels.EventoViewModel

@{
    ViewData["Title"] = "Editar Evento";
}

<h2>@ViewData["Title"]</h2>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" rel="stylesheet">

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Lembre-se que muitas pessoas já podem ter visto este evento antes de mudar datas e etc.</h4>
        <hr />
        
        <vc:summary />

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="OrganizadorId" />

        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DescricaoCurta" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DescricaoCurta" class="form-control" />
                <span asp-validation-for="DescricaoCurta" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DescricaoLonga" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea rows="5" asp-for="DescricaoLonga" class="form-control"></textarea>
                <span asp-validation-for="DescricaoLonga" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Categoria" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.Partial("_Categorias")
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DataInicio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataInicio" type="text" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DataFim" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataFim" type="text" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Gratuito" />
                    <label asp-for="Gratuito"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Valor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Online" />
                    <label asp-for="Online"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NomeEmpresa" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NomeEmpresa" class="form-control" />
                <span asp-validation-for="NomeEmpresa" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btSubmit" value="Atualizar Evento" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Voltar para Lista</a>
            </div>
        </div>
    </div>
</form>

<div id="EnderecoForm">
    <div id="EnderecoTarget">
        @Html.Partial("_DetalhesEndereco")
    </div>
</div>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt.min.js"></script>

    <script>
        ValidacoesEvento();
        AjaxModal();
    </script>

    @{
        if (ViewBag.RetornoPost != null)
        {
            var notificacao = ViewBag.RetornoPost.ToString().Split(',');

            <script>
                toastr["@notificacao[0]"]("@notificacao[1]");
            </script>

            if (@notificacao[0] == "success")
            {
                <script>
                    toastr.options.onHidden = function () {
                        window.location = "http://localhost:6246/eventos/meuseventos";
                    };
                    toastr.options.onclick = function () {
                        window.location = "http://localhost:6246/eventos/meuseventos";
                    };
                    toastr.options.onCloseClick = function () {
                        window.location = "http://localhost:6246/eventos/meuseventos";
                    };

                    $("#btSubmit").prop("disabled", true);
                </script>
            }
        }
    }
}
