@model IEnumerable<Eventos.IO.Application.ViewModels.EventoViewModel>

@{
    ViewData["Title"] = "Lista dos Próximos Eventos";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Online)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @item.DataInicio.ToString("d")
            </td>
            <td>
                @item.DataFim.ToString("d")
            </td>
            <td>
                @{
                    if (item.Gratuito)
                    {
                        @Html.DisplayName("Gratuito")
                    }
                    else
                    {
  
                        @Html.DisplayFor(modelItem => item.Valor)
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Online)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Ver Detalhes
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
